form {
    margin-top:3rem;
    
    
}
form input[name='city'],
form input[name='country']{
    background-color:transparent ;
    color: white;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid whitesmoke;
    

}
form input:focus{
    background-color: transparent;
    box-shadow: none;
}
